body {
  margin: 0;
  --cblack: #262829;
  --cdarkgray: #494c4e;
  --cgray: #72767a;
  --clightgray: #a4a9ad;
  --cwhite: #ccd2d6;
}

main {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
}

ul{
  padding: 0;
  list-style-type: none;
}
p {margin: 0;}

button {
  border-radius: 3px;
  background-color: var(--clightgray);
  border: none;
  cursor: pointer;
}

button > * {
  pointer-events: none;
}

nav {
  display: flex;
}


/***/

.topbar {
   height: 3.5rem;
   background-color: var(--cgray);
}

.content {
  display: flex;
  width: 100%;
}
.sub-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* TABLE PRODUCTS BUY*/

.table-display {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--cwhite);
}

.table-display > div {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.table-display > div > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}


.table-top {
  display: flex;
  gap: 0.2rem; 
  align-items: center;
  padding: 0.3rem 0.5rem 0.3rem 1rem;
  background-color: var(--cdarkgray);
  border-radius: 10px;
  margin: 0 .3rem .3rem;
}
.table-top > h4 {
  margin: 0 auto 0 0;
  width: 5rem;
  max-width: 5rem;
  color: var(--cwhite);
}
.table-top > button {
  padding: 0.6rem 0.3rem;
  border-radius: 4px;
  background-color: var(--cblack);
  color: var(--cwhite);
}

.table-buys {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  background-color: var(--cdarkgray);
  color: var(--cwhite);
  border-radius: 10px;
  margin: 0.3rem;
  padding: 0.4rem 0.3rem;
  height: 100%;
}

.table-buys-top {
  display: grid;
  grid-template-columns: 35% 25% 25% 7%;
  gap: 2%;
  border-radius: 10px;
  margin: 0.3rem;
  margin-bottom: 0;
  padding: 0.4rem 0.9rem;
  background-color: var(--cblack);
  color: var(--cwhite);
}
.table-buys-item, .table-buys-total {
  display: grid;
  grid-template-columns: 35% 25% 25% 7%;
  gap: 2%;
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  background-color: var(--cblack);
}

.item-options {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.item-options > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--cwhite);
  border-radius: 50%;
  padding: 0 0.25rem;
  transition: background-color 200ms, scale 300ms;
}
.item-options > button:hover {
  background-color: var(--cdarkgray);
  border-radius: 50%;
  scale: 1.2;
  transition: background-color 200ms, scale 300ms;
}

.table-buys-total {
  margin-top: auto;
}

/* PRODUCTS PICKER */

.picker-section {
  width: 100%;
  max-width: 50%;
  background-color: var(--cgray);
  border-radius: 10px;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.picker-nav {
  display: flex;
  gap: 0.1rem;
}

.picker-nav > button {
  background-color: var(--cdarkgray);
  border-radius: 3px 3px 0 0;
  color: var(--cwhite);
  padding: 0.3rem 0.5rem;
}

.picker-nav > button.active {
  background-color: var(--cblack);
}

.product-picker {
  background-color: var(--cblack);
  padding: 0.7rem 0.5rem;
  border-radius: 0 0 10px 10px;
  height: 100%;
}

/* TABLES LIST SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--cgray);
  padding: 1rem 0.7rem;
}

.expand-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cwhite);
  font-size: 1.2rem;
  background-color: transparent;
}

.tables-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0;
}

.sidebar > hr {
  width: 100%;
  margin: 0;
}

.table-button, .add-table-btn {
  border-radius: 50%;
  background-color: var(--cdarkgray);
  color: var(--cwhite);
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-table-btn {
  background-color: var(--cblack);
  color: var(--clightgray);
}